
.navbar {
	width: 100vw;
	z-index: 1;
	margin: 0;
	background-color: rgba(118,50,63,.6);
	position: absolute;
}
#aboutimg {
	max-height: 100vh;
	overflow: hidden;
}

img {
	height: auto;
	width: 100vw;
	object-fit: cover;
}

.about {
	font-family: text-align: center;
	background-color: rgba(255, 255, 255,.8);
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

#footer {
	position: absolute;
	width: 100vw;
	height: 30px;
	bottom: 0;
	text-align: center;
}

#innerfooter {
	background-color: rgba(255, 255, 255, .6);
	height: 27px;
	display: inline-block;
}

#footerbtn {
	height: 24px;
	width: 24px;
}