
@font-face {
	font-family: 'geosans';
	src: url("fonts/GeosansLight-Oblique.ttf");
}

.wrapper {
	position: fixed;
	width: 100vw;
}

.navbar {
	background-color: rgba(118,50,63,.6);
	width: 100vw;
	position: fixed;
}

.navbar-brand {
	font-family: 'geosans';
	font-size: 22px;
}

.viewbtn {
	height: 40px;
	width: 40px;
}

.sliderbox {
	display:flex;
}

.sliderimage {
	height: 100vh;
	width: auto;
}

